* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#pageContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    height: 100%;
    width: 15%;
    border: 2px solid grey;
}

.sBarBackground {
    background-color: #F6F6F2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

#sidebarTop, #sidebarBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#sidebarTitle {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.sidebarDifferentPageBox {
    width: 93%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebarDifferentPageLink {
    background-color: #bfe6ff;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#todoLink {
    text-decoration: none;
}

a:visited {
    color: black;
}

#main {
    background-color: #F6F6F2;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header {
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrowBox {
    margin-left: 50px;
}

#nextMonthArrow, #backMonthArrow {
    width: 25px;
}

#calendarMonthBox {
    font-size: 26px;
}

#calendarYearBox {
    font-size: 16px;
    margin-right: 50px;
}

#calendarContainer {
    width: 100%;
    height: 90%;
}

table {
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1.5px black solid;
    border-collapse: collapse;
}

tr {
    height: 15%;
    width: 100%;
}

#headerRow {
    height: 10%;
    width: 100%;
}

td, th {
    width: 14.2857142857%;
}

td {
    vertical-align: top;
    text-align: left;
}

.taskBox {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2.5px;
    background-color: #bfe6ff;
    border: 0.5px solid black;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.removeTask {
    width: 20%;
    background-color: transparent;
}

/* #calendarContainer {
    width: 50%;
    height: 50%;
    padding: 5px 10px;
}

table, th, td {
    border: 2px black solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    height: 14.2857142857%;
}

#headerRow {
    height: 5%;
    padding: 5px;
}

td {
    width: 14.2857142857%;
} */

/* efe6ff
f6f6f2 */