* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#pageContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

#sidebar {
    background-color: #c8c8c8;
    height: 100%;
    width: 15%;
    padding: 10px 15px;
    border: 2px solid grey;
}

#sidebarTitle {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

.sidebarDifferentPageBox {
    background-color: #efe6ff;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
}

#main {
    background-color: red;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header {
    background-color: #efe6ff;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

#nextMonthArrow {
    width: 25px;
}

#calendarContainer {
    width: 100%;
    height: 80%;
}

table {
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 2px black solid;
    border-collapse: collapse;
}

tr {
    height: 15%;
    width: 100%;
}

#headerRow {
    height: 10%;
    width: 100%;
}

td, th {
    width: 14.2857142857%;
}

td {
    vertical-align: top;
    text-align: left;
}

/* #calendarContainer {
    width: 50%;
    height: 50%;
    padding: 5px 10px;
}

table, th, td {
    border: 2px black solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    height: 14.2857142857%;
}

#headerRow {
    height: 5%;
    padding: 5px;
}

td {
    width: 14.2857142857%;
} */

/* efe6ff
f6f6f2 */