* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F2;
    display: flex;
}

#sidebar {
    height: 100%;
    width: 15%;
    padding: 10px 15px;
    border: 2px solid grey;
}

.sBarBackground {
    background-color: #F6F6F2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebarTitle {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.sidebarDifferentPageBox {
    width: 93%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebarDifferentPageLink {
    background-color: #bfe6ff;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

/* #todoLink {
    text-decoration: none;
}

a:visited {
    color: black;
}

#todo {
    width: 85%;
    height: 100%;
}

.container {
    width: 500px;
    margin: 32px auto;
}

.container .title {
    text-align: center;
}

.container .form {
    background-color: white;
    margin-top: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.container .todotitle {
    color: black;
    font-size: 50px;
    border: none;
    background-color: #F6F6F2;
}

.form input {
    flex: 1;
    padding: 12px;
    border: none;
    background-color: transparent;
}

.form .btn {
    padding: 12px;
    background-color: #bfe6ff; 
    color: black;
    cursor: pointer;
    border: none;
}

.lists {
    box-shadow: 3px 3px 3px; 
   
}

.lists .todo {
    display: flex;
    align-items: left;
    justify-content: space-between;
    background-color: white;
    margin-top: 8px;
    padding: 8px;
    gap: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #EBECF0;
}

.todo span {
    cursor: pointer;
} */

#todo {
    width: 85%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F6F6F3;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todoListTitle {
    text-align: center;
    width: 100%;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.todo-text.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.button {
    background-color: #bfe6ff;
    color: white;
    border: none;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.button.delete {
    background-color: #FF3B30;
}

